/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: #f9fafb;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
}

/* Título */
.sidebar-title {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Lista */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Item */
.sidebar-item {
  margin-bottom: 10px;
}

/* Link */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #6b7280;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

/* Hover */
.sidebar-link:hover {
  background-color: #ecfdf5;
  color: #166534;
}

/* Ativo */
.sidebar-link.active {
  color: #166534;
  font-weight: 600;
}

/* Ícone */
.sidebar-icon {
  font-size: 14px;
}


/* Sidebar base */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: #f9fafb;
  border-right: 1px solid #e5e7eb;
  padding: 20px;

  transition: transform 0.3s ease;
}

/* Aberta */
.sidebar.open {
  transform: translateX(0);
}

/* Fechada */
.sidebar.closed {
  transform: translateX(-100%);
}

/* Botão */
.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #166534;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}


/* cuidado */
.content {
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}

.sidebar.closed ~ .content {
  margin-left: 0;
}